/***

**************************************************************

WARNING:

This website is protected by copyright law and international treaties. Unauthorised reproduction or distribution of this website, or any portion of it, will result in severe criminal and civil penalties and will be prosecuted to the maximum extent possible under the law.

**************************************************************

***/

@font-face{font-family:'Montserrat';font-style:normal;font-weight:300;src:local('Montserrat Light'),url(../fonts/300.woff) format("woff")}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:400;src:local('Montserrat Regular'),url(../fonts/400.woff) format("woff")}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:500;src:local('Montserrat Medium'),url(../fonts/500.woff) format("woff")}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:600;src:local('Montserrat SemiBold'),url(../fonts/600.woff) format("woff")}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;src:local('Montserrat Bold'),url(../fonts/700.woff) format("woff")}